<div class="add-book-container">
    <h2>Mettre à jour le mot de passe</h2>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="oldpassword">Ancien mot de passe :</label>
        <input type="password" id="oldpassword" formControlName="oldpassword" name="oldpassword">
        <div *ngIf="form.get('oldpassword')?.errors">
          {{ form.get('oldpassword')?.errors | json }}
        </div>
      </div>
  
      <div class="form-group">
        <label for="newpassword">Nouveau mot de passe :</label>
        <input type="password" id="newpassword" formControlName="newpassword" name="newpassword">
        <div *ngIf="form.get('newpassword')?.errors">
          {{ form.get('newpassword')?.errors | json }}
        </div>
      </div>
      <button type="submit">Mettre à jour le mot de passe</button>
    </form>
  </div>
  