
<div class="add-book-container">
       <section id="agenda" class="bubble"id="Articlelevif" class="bubble" >
            <img src="./assets/images/newsp1.jpg" alt="Sud info" >

        </section>
        <section id="agenda" class="bubble"id="Articlelevif" class="bubble" >
            <img src="assets/images/newsp2.jpg" alt="Vif weekend" >

        </section>
        <section id="galerie" class="bubble">
            <img src="assets/images/newsp3.jpg" alt="raisindigital" >

        </section>
        <section id="galerie" class="bubble">
            <img src="assets/images/newsp4.jpg" alt="trouvetonresto" >

        </section>
        <section id="agenda" class="bubble"id="Articlelevif" class="bubble" >
            <img src="assets/images/newsp5.jpg" alt="Vif weekend" >

        </section>
        <section id="agenda" class="bubble"id="Articlelevif" class="bubble" >
            <img src="assets/images/newsp6.jpg" alt="Vif weekend" >

        </section>
        <section id="agenda" class="bubble"id="Articlelevif" class="bubble" >
            <img src="assets/images/news7.jpg" alt="Vif weekend" >

        </section>
        <section id="agenda" class="bubble"id="Articlelevif" class="bubble" >
            <img src="assets/images/news8.jpg" alt="Vif weekend" >

        </section>
        <section id="agenda" class="bubble"id="Articlelevif" class="bubble" >
            <img src="assets/images/news9.jpg" alt="Vif weekend" >

        </section>
</div>
 
